@font-face {
  font-family: 'DINRegular';
  src: url('../../fonts/DIN/Regular/URWDIN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINBold';
  src: url('../../fonts/DIN/Bold/URWDIN-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Your fonts and other styles here */

.NewsCarousel {
  width: 80%;
  margin: 0 auto;
  overflow: hidden; /* Add this property to hide any potential overflow */
}

.slick-slide {
  width: calc((80% - 20px) / 3);
  min-height: 300px; /* Adjusted min-height */
  background-color: #0d1c25;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
  display: flex; /* Add this property */
  flex-direction: column; /* Add this property */
}

.NewsItem {
  text-align: center;
  color: #fff;
  flex: 1; /* Add this property to make NewsItem expand to fill available space */
}

h3 {
  font-size: 24px; /* Larger font size for news title */
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 10px;
}

.Button {
  background-color: #fff;
  color: #3498db;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  align-self: center; /* Center the button horizontally */
}

.Button:hover {
  background-color: #217dbb;
}

h2 {
  text-align: center;
  font-size: 32pt;
  font-family: 'DINBold';
  margin-bottom: 20px;
}
