@font-face {
  font-family: 'DINRegular';
  src: url('../../fonts/DIN/Regular/URWDIN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINBold';
  src: url('../../fonts/DIN/Bold/URWDIN-Bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}

.NewsCarousel {
  width: 80%;
  margin: 0 auto;
}

.slick-slide {
  font-family: DINRegular;
  width: 300px;
  height: 200px;
  background-color: #3498db;
  padding: 20px;
  padding-top: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 10px;
  overflow: hidden;
  position: relative;
}

.NewsItem {
  text-align: center;
  color: #fff;
}

.Button {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
  background-color: #fff;
  color: #3498db;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
}

.Button:hover {
  background-color: #217dbb;
}

.slick-track {
  display: flex;
  align-items: center;
}

h2 {
  justify-content: center;
  font-size: 32pt;
  font-family: DINBold;
  margin-bottom: 20px;
  text-align: center;
}
