.SponsoriContainer {
  background: linear-gradient(to bottom, #0f1a3a, #020307);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.Image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 40px;
}

.sponsor {
  background-color: snow;
  height: auto;
  width: 800px;
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pozaSponsor img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.infoSponsor {
  flex-grow: 1;
  padding: 10px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-left: 10px;
  color: black;
}

.butoaneSponsori {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.addButtonSponsor {
  padding: 10px;
  margin: 20px 0;
  margin-left: auto;
}
.delleteIcon {
  color: black;
  transition: transform 0.3s ease; /* Adaugă o tranziție pentru o animație lină */
}

.delleteIcon:hover {
  transform: scale(1.2); /* Mărește iconița la hover */
}
