@font-face {
  font-family: 'DINRegular';
  src: url('../../../fonts/DIN/Regular/URWDIN-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINBold';
  src: url('../../../fonts/DIN/Bold/URWDIN-Bold.woff') format('woff');
  font-weight: Bold;
  font-style: normal;
}

.bar {
  background-color: #232c4d;
  height: 20px;
  width: auto;
  padding: 10px;
  margin: 0;
  font-family: DINBold;
  font-size: 20px;

  display: flex;
  justify-content: space-around;
  color: white;
  align-items: center;
  border-top: 1px solid black; /* Border negru sus */
}

.link {
  text-decoration: none;
  color: white;
  margin: 0px;
  display: flex;
  align-items: center;
  transition: font-size 0.3s ease-in-out; /* adaugă o tranziție pentru o animație lină */
}

.link:last-child {
  border-right: none;
}

.link:hover h5 {
  font-size: 1.2em; /* sau dimensiunea dorită pentru textul la hover */
}
